<div class="container">
  <h3>
    Insertion Sort Representation
  </h3>
  <div class="mt-3">
    <div class="col-12">
      <div class="d-flex my-5">
        <div class="col-4">
          <div class="d-flex justify-content-end px-4">
            <h5>
              Unsorted Array
            </h5>
          </div>
        </div>
        <div class="col-8">
          <ng-container *ngFor="let item of initialModel">
            <algo-block-element [Model]="item">
            </algo-block-element>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <ng-container *ngIf="Steps?.length || 0 > 0">
      <div class="d-flex justify-content-center px-4">
        <h5>Sorting Steps</h5>
      </div>
      <ng-container *ngFor="let items of Steps; let i = index">
        <ng-container *ngIf="items">
          <div class="d-flex mt-3 py-3">
            <div class="col-4">
              <div class="d-flex justify-content-end px-4">
                <h5>Step {{i+1}}</h5>
              </div>
            </div>
            <div class="col-8">
              <ng-container *ngFor="let item of items.step">
                <algo-block-element [Model]="item" [IterationIndex]="items.iterartionIndex">
                </algo-block-element>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="border border-secondary p-3 mt-3">
    <button class="my-3 mx-1 btn btn-primary" (click)="stepFoward()">Next Step</button>
    <button class="my-3 mx-1 btn btn-success" (click)="skipFoward()">Sort</button>
    <button class="my-3 mx-1 btn btn-secondary" (click)="reset()">Reset</button>
  </div>
</div>
